@charset "utf-8";

/* common */
.btn {display: inline-block; transition: 0.3s;}
.btn:hover {}
.btn.sm {}
.btn.md {height: 42px; line-height: 42px; font-size: 0.88rem; padding: 0 30px; border-radius: 10px;}
.btn.lg {height: 63px; line-height: 63px; font-size: 1.36rem; font-weight: 700; padding: 0 20px; border-radius: 10px;}
.btn.xlg {height: 63px; line-height: 63px; font-size: 1.25rem; font-weight: 700; padding: 0 20px; border-radius: 10px; border: none;}

.btn.green {background-color: #33d7c2; color: #fff;}
.btn.green:hover {background-color: #284ead;}
.btn.transparent {background-color: rgba(0, 0, 0, 0.2); color: #fff; border: 1px solid transparent}
.btn.transparent:hover {background-color: transparent; color: #fff; border: 1px solid rgba(255, 255, 255, 0.3)}
.btn.blue {background-color: #2f9ad7; color: #fff;}
.btn.blue:hover {background-color: #33d7c2;}

.btn.arrow-lg {position: relative; padding-right: 70px;}
.btn.arrow-lg:after {content: ''; display: block; position: absolute; width: 10px; height: 17px; right: 20px; top: 50%; transform: translateY(-50%); background: url('../images/sp-img.png') 0 -130px; background-size: 500px auto;}

.btn-wrap.type01 {}
.btn-wrap.type01 .btn {width: 100%;}

.login {}
.login > div {}
.login > div:first-child {border-radius: 10px 10px 0 0;}
.login > div:last-child {border-radius: 0 0 10px 10px;}

.input-text.type01 {position: relative; border:1px solid #d1d1d1; padding: 7px 15px;}
.input-text.type01 + .input-text {margin-top: -1px;}
.input-text.type01 label {position: absolute;}
.input-text.type01 input {border: none; width: 100%; height: 40px; line-height: 38px;}

.chk-box.type01 {position: relative; padding: 20px 0;}
.chk-box.type01 input[type="checkbox"] {opacity: 0; filter: alpha(opacity=0); position: absolute; width: 21px; height: 21px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); top: 0; left: 0; border: 0;}
.chk-box.type01 input[type="checkbox"] + label {position: relative; display: inline-block; height: 22px; line-height: 23px; padding-left: 30px; color: #666; font-size: 0.88rem; cursor: pointer;}
.chk-box.type01 input[type="checkbox"] + label:before {content: ""; position: absolute; top: 11px; left: 9px; width: 10px; height: 4px; border-bottom: 2px solid #ddd; border-left: 2px solid #ddd; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: rotate( -45deg ); transform: rotate( -45deg ); -webkit-transition: all .3 ease; transition: all .3 ease; z-index: 1;}
.chk-box.type01 input[type="checkbox"] + label:after {content: ''; display: block; position: absolute; width: 21px; height: 21px; top: 0; left: 0; background-color: #fff; border: 1px solid #ddd; border-radius: 100%;}
.chk-box.type01 input[type="checkbox"]:checked + label {}
.chk-box.type01 input[type="checkbox"]:checked + label:before {border-color: #fff;}
.chk-box.type01 input[type="checkbox"]:checked + label:after {background-color: #2f9ad7; border: 1px solid #2f9ad7;}

.find-info {text-align: center; margin-top: 30px;}
.find-info span {position: relative; display: inline-block; padding: 0 10px;}
.find-info span a {color: #666;}
.find-info span + span:before {content: ''; display: block; position: absolute; width: 3px; height: 3px; border-radius: 100%; left: -1px; top: 50%; background-color: #b5b5b5; transform: translateY(-50%);}

.slide.type01 {position: relative;}
.slide.type01:before {content: ''; display: block; position: absolute; width: 57px; height: 57px; left: -36px; top: 50%; background-color: #75f3e3; border-radius: 100%; z-index: 1;}
.slide.type01:after {content: ''; display: block; position: absolute; width: 35px; height: 35px; right: -20px; top: 30%; background-color: #78fba0; border-radius: 100%; z-index: 1;}
.slide.type01 article {display: flex; transition: 0.3s;}
.slide.type01 article .txt-wrap {width: 41%; padding: 6% 4%; background-color: #fff; box-sizing: border-box; border-radius: 30px 0 0 30px; overflow: hidden;}
.slide.type01 article .txt-wrap p {}
.slide.type01 article .txt-wrap p.tit {font-size: 2.26rem; font-weight: 800; color: #33d7c2; margin-bottom: 5%;}
.slide.type01 article .txt-wrap p.desc {font-size: 2.8rem; font-weight: 800; color: #284ead; margin-bottom: 10%; letter-spacing: -0.05em;}
.slide.type01 article .txt-wrap p.btn {}
.slide.type01 article .img-wrap {width: 59%; border-radius: 0 30px 30px 0; overflow: hidden;}
.slide.type01 article .img-wrap img {width: 100%;}

.program.type01 {display: flex; flex-wrap: wrap; justify-content: space-between; align-content: space-around;}
.program.type01 article {display: flex; flex-direction: column-reverse; width: 30%; margin-bottom: 50px; border-radius: 20px; box-shadow: 0px 9px 9px 0 rgba(0, 0, 0, 0.03); overflow: hidden;}
.program.type01 article:nth-child(1),
.program.type01 article:nth-child(6) {background-color: #3398d7;}
.program.type01 article:nth-child(2),
.program.type01 article:nth-child(4) {background-color: #28c2ae;}
.program.type01 article:nth-child(3),
.program.type01 article:nth-child(5) {background-color: #5b62c6;}
.program.type01 article .txt-wrap {padding: 7%;}
.program.type01 article .txt-wrap p {color: #fff;}
.program.type01 article .txt-wrap p.tit {font-size: 1.5rem; font-weight: 700; margin-bottom: 3%;}
.program.type01 article .txt-wrap p.desc {font-size: 0.94rem; margin-bottom: 10%;}
.program.type01 article .txt-wrap p.btn {}
.program.type01 article .img-wrap {}
.program.type01 article .img-wrap img {width: 100%;}

.page.type01 {padding: 30px 0 50px;}
.page.type01 p {text-align: center; color: #666; letter-spacing: -0.05em;}
.page.type01 p span {display: block;}
.page.type01 .txt01 {color: #3398d7; font-size: 2.8rem; font-weight: 800; margin-bottom: 20px;}
.page.type01 .txt02 {font-size: 1.48rem; margin-bottom: 20px;}
.page.type01 .txt03 {font-size: 1.26rem; margin-bottom: 40px; line-height: 1.6;}
.page.type01 .txt04 {font-size: 1rem; line-height: 1.9;}

.page.type02 {width: 460px; margin: 0 auto;}


@media only screen and (max-width: 1040px){

    .btn.md {height: auto; line-height: inherit; font-size: 3.2vw; padding: 5% 12%; border-radius: 5px;}
    .btn.lg {height: auto; line-height: inherit; padding: 3% 5%; font-size: 3.3vw; border-radius: 6px;}
    .btn.arrow-lg {padding-right: 8%;}
    .btn.arrow-lg:after {width: 5px; height: 10px; right: 10%; background-position: -41px -130px;}

    .slide.type01 {}
    .slide.type01:before,
    .slide.type01:after {display: none;}
    .slide.type01 article {flex-direction: column-reverse;}
    .slide.type01 article .txt-wrap {width: 100%; border-radius: 0; padding: 4%;}
    .slide.type01 article .txt-wrap p {}
    .slide.type01 article .txt-wrap p.tit {font-size: 5vw; letter-spacing: -0.02em; margin-bottom: 2%;}
    .slide.type01 article .txt-wrap p.desc {font-size: 7vw; letter-spacing: -0.08em; margin-bottom: 2%;}
    .slide.type01 article .txt-wrap p.desc span {display: block;}
    .slide.type01 article .txt-wrap p.btn {}
    .slide.type01 article .img-wrap {width: 100%; border-radius: 0;}
    .slide.type01 article .img-wrap img {}

    .program.type01 {flex-direction: column;}
    .program.type01 article {width: 100%; flex-direction: row; justify-content: space-between; margin-bottom: 5%; border-radius: 10px;}
    .program.type01 article .txt-wrap {padding: 5%;}
    .program.type01 article .txt-wrap p.tit {font-size: 5.4vw;}
    .program.type01 article .txt-wrap p.desc {font-size: 3.4vw;}
    .program.type01 article .img-wrap {width: 35%; position: relative; padding-top: 38%; overflow: hidden;}
    .program.type01 article .img-wrap img {width: auto; position: absolute; top: 0; left: 50%; right: 0; bottom: 0; max-height: 100%; max-width: unset; height: auto; transform: translateX(-50%);}

    .page.type01 {padding: 0; box-sizing: border-box;}
    .page.type01 p {text-align: left;}
    .page.type01 p span {display: inline;}
    .page.type01 .txt01 {font-size: 7vw;}
    .page.type01 .txt02 {font-size: 5vw;}
    .page.type01 .txt03 {font-size: 4vw; margin-bottom: 20px;}
    .page.type01 .txt04 {font-size: 3.4vw;}
}

@media only screen and (max-width: 480px){
    .page.type02 {width: 100%;}

}

/* layout */
#wrap {position: relative; display: flex; flex-direction: column; min-width: 1040px; min-height: -webkit-fill-available;}
.main {background: url('../images/main-bg.png') 50% 0 no-repeat; background-color: #d0eeec;}
.main h2 {font-size: 1.81rem; font-weight: 800; color: #284ead; margin-bottom: 30px; margin-top: 20px;}
.main footer {margin-top: auto; background-color: #fff; }
.sub footer {margin-top: auto; background-color: #eaf3f8; }
.sub main.type01 {background: url('../images/sub-bg1.png') 50% 0 no-repeat; background-color: #fff;}
.sub main.type02 {background: url('../images/sub-bg2.png') 50% 0 no-repeat; background-color: #fff;}

#wrap main section {position: relative; width: 1040px; margin: 0 auto; padding-bottom: 20px;}
#wrap main section + section {margin-top: 70px;}

.header-wrap {position: relative; display: flex; justify-content: space-between; align-items: flex-end; height: 160px; width: 1040px; padding-bottom: 55px; margin: 0 auto; box-sizing: border-box;}
.header-wrap h1.logo {}
.header-wrap h1.logo a {display: block; width: 201px; height: 73px; background-image: url(../images/sp-img.png); background-position: 0 0; background-size: 500px auto;}
.header-wrap .util {position: absolute; right: 0; top: 22px;}
.header-wrap .util a {}
.header-wrap .util a[class*="menu"] {font-weight: 400; font-size: 0.82rem; color: #444;}
.header-wrap .util a[class*="menu"] + a[class*="menu"] {margin-left: 10px;}
.header-wrap .util a.icon {display: none; position: fixed; left: 20px; top: 16px; width: 22px; height: 23px; background: url(../images/sp-img.png) -14px -130px no-repeat; background-size: 500px auto; z-index: 1;}
.header-wrap .ico-gnb {display: none; width: 26px; height: 26px; position: absolute; right: 20px; top: 18px; z-index: 2;}
.header-wrap .ico-gnb span {display: block; width: 26px; height: 2px; margin-bottom: 6px; background-color: #fff; transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out; }
.header-wrap .ico-gnb.close span:nth-child(1) {margin-top: 12px; margin-bottom: 3px; transform: rotate( 45deg ); -webkit-transform: rotate( 45deg ); -moz-transform: rotate(45deg);}
.header-wrap .ico-gnb.close span:nth-child(2) {opacity: 0;}
.header-wrap .ico-gnb.close span:nth-child(3) {margin-top: -13px; margin-bottom: 14px; margin-left: 0; transform: rotate( -45deg ); -webkit-transform: rotate( -45deg ); -moz-transform: rotate(-45deg);}
.header-wrap nav {}
.header-wrap nav .gnb {display: flex; align-items: center;}
.header-wrap nav .gnb li {position: relative; padding: 0 20px;}
.header-wrap nav .gnb li:first-child {padding-left: 0;}
.header-wrap nav .gnb li:last-child {padding-right: 0;}
.header-wrap nav .gnb li + li:before {content: ''; display: block; position: absolute; left: 0; top: 50%; width: 4px; height: 4px; border-radius: 100%; background-color: #676767; transform: translateY(-50%);}
.header-wrap nav .gnb li a {display: block; transition: 0.3s;/* line-height: 1.5; border-bottom: 4px solid transparent; */}
.header-wrap nav .gnb li a span {font-size: 1.26rem; font-weight: 700;}
.header-wrap nav .gnb li a:hover,
.header-wrap nav .gnb li.active a {padding: 15px 25px; background-color: #3398d7; box-shadow: 0px 9px 27px 0 rgba(51, 152, 215, 0.4); border-radius: 25px;}
.header-wrap nav .gnb li a:hover span,
.header-wrap nav .gnb li.active a span {color: #fff; font-size: 1.12rem;}
/* .header-wrap nav .gnb li a:hover {border-bottom: 4px solid #3398d7;} */
/* .header-wrap nav .gnb li a:hover span {color: #3398d7;} */

.footer-wrap {position: relative; width: 1040px; margin: 0 auto; padding: 30px 0; box-sizing: border-box;}
.footer-wrap .logo {display: block; width: 140px; height: 51px; margin-bottom: 20px; background-image: url(../images/sp-img.png); background-position: -206px 0; background-size: 500px auto;}
.footer-wrap .footer-info {letter-spacing: -0.03em;}
.footer-wrap .footer-info span {display: inline-block; margin-right: 10px; line-height: 1.6; color: #444; font-size: 0.88rem;}
.footer-wrap p.copy {line-height: 1.8; color: #444; font-size: 0.88rem; letter-spacing: 0;}

.tit.type01 {display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;}
.tit.type01 h2 {color: #3398d7; font-size: 2.25rem; font-weight: 800;}
.tit.type01 .sort-list {}
.tit.type01 .sort-list a {margin: 0 8px; font-size: 1.09rem; color: #999; font-weight: 700;}
.tit.type01 .sort-list a.active {color: #3398d7; border-bottom: 2px solid #3398d7;}

.tit.type02 {margin-bottom: 30px;}
.tit.type02 h2 {color: #3398d7; font-size: 2.25rem; font-weight: 800; text-align: center;}

@media only screen and (max-width: 1040px){
    #wrap,
    #wrap main section,
    .header-wrap,
    .footer-wrap {width: 100%; min-width: auto;}

    #wrap {padding-top: 60px; background-size: 200% auto; background-position: 100% 20%;}
    #wrap header {position: fixed; top: 0; width: 100%; z-index: 10;}
    #wrap main section {padding-bottom: 0;}
    #wrap main section + section {margin-top: 0;}
    
    .main h2 {margin-top: 0; margin-bottom: 5%; font-size: 5vw;}
    .main main {padding-bottom: 10%;}
    .sub main {padding: 8% 4%;}

    .header-wrap {height: 60px; padding: 0;}
    .header-wrap h1.logo {width: 100%; height: 60px; background-color: #3398d7; z-index: 1;}
    .header-wrap h1.logo a {width: 118px; height: 49px; margin: 0 auto; background-image: url(../images/sp-img.png); background-position: 0 -72px; background-size: 500px auto;}
    .header-wrap .util a[class*="menu"] {display: none;}
    .header-wrap .util a.icon {display: block;}
    .header-wrap .ico-gnb {display: block;}
    .header-wrap .ico-gnb span {}
    .header-wrap nav {position: fixed; top: 60px; left: 0; width: 100%; opacity: 0; visibility: hidden; -webkit-transition-duration: .5s; transition-duration: .5s; -webkit-transform: translateY(-100%); transform: translateY(-100%); min-height: -webkit-fill-available;}
    .header-wrap nav.active {opacity: 1; visibility: visible; width: 100%; transform: matrix(1, 0, 0, 1, 0, 0); }
    .header-wrap nav .gnb {flex-direction: column; padding: 10px 0; background-color: #fff;}
    .header-wrap nav .gnb li {padding: 0 !important; width: 100%;}
    .header-wrap nav .gnb li + li:before {display: none;}
    .header-wrap nav .gnb li a {text-align: center; line-height: 48px;}
    .header-wrap nav .gnb li a span {font-size: 1.18rem; font-weight: 800;}
    .header-wrap nav .gnb li a:hover,
    .header-wrap nav .gnb li.active a {padding: 0; background-color: rgba(76, 192, 236, .15); border-radius: 0; box-shadow: none;}
    .header-wrap nav .gnb li a:hover span,
    .header-wrap nav .gnb li.active a span {font-size: 1.18rem; color: #222;}

    .footer-wrap {padding: 30px 4%;}
    .footer-wrap .logo {width: 133px; height: 48px; background-position: -121px -78px; margin-bottom: 10px;}
    .footer-wrap .footer-info span {font-size: 0.76rem; color: #767676; line-height: 1.4;}
    .footer-wrap p.copy {font-size: 0.76rem; margin-top: 10px;}

    .main .wrapper {padding: 8% 4%; box-sizing: border-box;}

    .tit.type01 {margin-bottom: 15px;}
    .tit.type01 h2 {font-size: 7vw;}
    .tit.type01 .sort-list a {font-size: 3.8vw; margin: 0 4px;}

    .tit.type02 {margin-bottom: 15px;}
    .tit.type02 h2 {font-size: 7vw;}


}
