@charset "UTF-8";
@font-face {
  font-family: 'Jalnan';
  src: local('Jalnan'), local('Jalnan'), url('../fonts/Jalnan.woff') format('woff'), url('../fonts/Jalnan.otf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSans';
  src: local('GmarketSans'), local('GmarketSans'), url('../fonts/GmarketSansLight.woff') format('woff'), url('../fonts/GmarketSansLight.otf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'GmarketSans';
  src: local('GmarketSans'), local('GmarketSans'), url('../fonts/GmarketSansMedium.woff') format('woff'), url('../fonts/GmarketSansMedium.otf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GmarketSans';
  src: local('GmarketSans'), local('GmarketSans'), url('../fonts/GmarketSansBold.woff') format('woff'), url('../fonts/GmarketSansBold.otf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), local('ProximaNova'), url('../fonts/ProximaNovaThin.woff') format('woff'), url('../fonts/ProximaNovaThin.otf') format('truetype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), local('ProximaNova'), url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.otf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), local('ProximaNova'), url('../fonts/ProximaNovaBold.woff') format('woff'), url('../fonts/ProximaNovaBold.otf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), local('ProximaNova'), url('../fonts/ProximaNovaExtrabold.woff') format('woff'), url('../fonts/ProximaNovaExtrabold.otf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), local('ProximaNova'), url('../fonts/ProximaNovaBlack.woff') format('woff'), url('../fonts/ProximaNovaBlack.otf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
.bg-default-blank {
  background-color: transparent !important;
}
.bg-default-blank:before {
  background-color: #ffffff !important;
}
.bg-default-black {
  background-color: #333333 !important;
}
.bg-default-black:before {
  background-color: #333333 !important;
}
input[type=tel][readonly],
input[type=text][readonly],
input[type=email][readonly],
input[type=date][readonly],
input[type=number][readonly],
input[type=password][readonly],
input[type=submit][readonly],
input[type=button][readonly],
input[type=reset][readonly] {
  background: #ffffff;
  border: 0.0625rem solid #dddddd;
}
input[type=tel]::placeholder,
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=date]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=submit]::placeholder,
input[type=button]::placeholder,
input[type=reset]::placeholder {
  color: #dddddd;
}
input[type=tel]::-ms-clear,
input[type=text]::-ms-clear,
input[type=email]::-ms-clear,
input[type=date]::-ms-clear,
input[type=number]::-ms-clear,
input[type=password]::-ms-clear,
input[type=submit]::-ms-clear,
input[type=button]::-ms-clear,
input[type=reset]::-ms-clear {
  display: none;
}
.form-item {
  display: block;
}
input[type="radio"] {
  position: absolute;
  width: 1px;
  width: 0.0625rem;
  height: 1px;
  height: 0.0625rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 0px;
  padding-left: 0rem;
  margin-top: -1px;
  margin-top: -0.0625rem;
  margin-right: -1px;
  margin-right: -0.0625rem;
  margin-bottom: -1px;
  margin-bottom: -0.0625rem;
  margin-left: -1px;
  margin-left: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input[type="radio"] + span {
  position: relative;
  display: flex;
  align-items: center;
  width: 560px;
  width: 35rem;
  height: 90px;
  height: 5.625rem;
  padding-top: 18px;
  padding-top: 1.125rem;
  padding-right: 25px;
  padding-right: 1.5625rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  padding-left: 25px;
  padding-left: 1.5625rem;
  border-radius: 10px;
  border-radius: 0.625rem;
  background-color: #cfced3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  cursor: pointer;
  word-break: break-word;
  transition: all 0.15s ease-in-out;
}
input[type="radio"] + span > span {
  position: relative;
  color: #ffffff;
  padding-left: 70px;
  padding-left: 4.375rem;
  font-size: 30px;
  font-size: 1.875rem;
  letter-spacing: 0px;
  letter-spacing: -0.046875rem;
}
input[type="radio"] + span > span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  left: 0rem;
  width: 54px;
  width: 3.375rem;
  height: 54px;
  height: 3.375rem;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 100%;
  transition: all 0.15s ease-in-out;
}
input[type="radio"] + span > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 25px;
  left: 1.5625rem;
  width: 23px;
  width: 1.4375rem;
  height: 18px;
  height: 1.125rem;
  border-left: 0.4375rem solid #cfced3;
  border-bottom: 0.4375rem solid #cfced3;
  transform: rotate(-45deg) translateY(-85%);
  transition: all 0.15s ease-in-out;
}
input[type="radio"]:checked + span {
  background-color: #1d89fc;
}
input[type="radio"]:checked + span > span:after {
  border-color: #1d89fc;
}
.btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-wrap .store-btn {
  width: 48% !important;
}
.btn-wrap .store-btn > i.ico__share {
  width: 46px;
  width: 2.875rem;
  height: 46px;
  height: 2.875rem;
}
.btn-wrap .store-btn > i.ico__reload {
  width: 46px;
  width: 2.875rem;
  height: 46px;
  height: 2.875rem;
}
.btn-wrap .store-btn > i.ico + strong {
  margin-left: 10px;
  margin-left: 0.625rem;
}
.store-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.store-btn > strong {
  font-family: 'Jalnan', sans-serif;
  font-weight: normal;
}
.store-btn.md {
  width: 320px;
  width: 20rem;
  height: 80px;
  height: 5rem;
  border-radius: 80px;
  border-radius: 5rem;
  line-height: 78px;
  line-height: 4.875rem;
}
.store-btn.md strong {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 32px;
  line-height: 2rem;
}
.store-btn.lg {
  width: 460px;
  width: 28.75rem;
  height: 100px;
  height: 6.25rem;
  border-radius: 100px;
  border-radius: 6.25rem;
  line-height: 98px;
  line-height: 6.125rem;
}
.store-btn.lg strong {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 32px;
  line-height: 2rem;
}
.store-btn.icon-rt {
  justify-content: space-between;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 25px;
  padding-right: 1.5625rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 55px;
  padding-left: 3.4375rem;
}
.store-btn.line-type {
  border: 0.125rem solid #ffffff;
}
.store-btn.line-type.lg {
  border: 0.1875rem solid #ffffff;
}
.store-btn.line-type:before {
  background-color: #ffffff;
}
.store-btn.line-type:hover {
  color: #33b1d0;
}
.store-btn.line-type:hover .title-text {
  color: #33b1d0;
}
.store-btn > i.ico {
  width: 46px;
  width: 2.875rem;
  height: 46px;
  height: 2.875rem;
}
.store-btn > i.ico__share {
  background: url('../images/icon-share@2x.png') 0 0 no-repeat;
  background-size: contain;
}
.store-btn > i.ico__reload {
  background: url('../images/icon-reload@2x.png') 0 0 no-repeat;
  background-size: contain;
}
.store-btn > i.ico + strong {
  margin-left: 15px;
  margin-left: 0.9375rem;
}
.store-btn > i.uil:before {
  font-size: 50px;
  font-size: 3.125rem;
  margin: 0;
}
.store-btn:hover > i.ico__share {
  background: url('../images/icon-share-select@2x.png') 0 0 no-repeat;
  background-size: contain;
}
.store-btn:hover > i.ico__reload {
  background: url('../images/icon-reload-select@2x.png') 0 0 no-repeat;
  background-size: contain;
}
.store-btn.disabled {
  cursor: default;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.store-btn.disabled:hover:before {
  display: none;
}
.store-btn.disabled:hover:after {
  display: none;
}
.icon-share {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-share .btn {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 15px;
  margin-right: 0.9375rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 15px;
  margin-left: 0.9375rem;
  border-radius: 100%;
  width: 69px;
  width: 4.3125rem;
  height: 69px;
  height: 4.3125rem;
}
html.full {
  overflow: hidden;
}
.dimmed {
  display: none;
  position: fixed;
  left: 0px;
  left: 0rem;
  top: 0px;
  top: 0rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.pop-layer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  border-radius: 1.875rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 1000;
  box-sizing: border-box;
  overflow-y: scroll;
}
.pop-layer--sm {
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 30px;
  padding-left: 1.875rem;
  width: 600px;
  width: 37.5rem;
  height: 340px;
  height: 21.25rem;
}
.pop-layer__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pop-layer__head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  height: 6.25rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  border-bottom: 0.0625rem solid #e6e6e6;
}
.pop-layer__head > strong {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 32px;
  line-height: 2rem;
  font-family: 'Jalnan', sans-serif;
  color: #333333;
  font-weight: normal;
}
.pop-layer__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.pop-layer .pop-close {
  position: absolute;
  top: 28px;
  top: 1.75rem;
  right: 25px;
  right: 1.5625rem;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333333;
  z-index: 2;
  cursor: pointer;
}
@media all and (max-width: 991px) {
  .btn-wrap .store-btn.lg {
    padding-top: 15px;
    padding-top: 0.9375rem;
    padding-right: 15px;
    padding-right: 0.9375rem;
    padding-bottom: 15px;
    padding-bottom: 0.9375rem;
    padding-left: 15px;
    padding-left: 0.9375rem;
  }
  .btn-wrap .store-btn.lg strong {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
  .store-btn.md {
    width: 420px;
    width: 26.25rem;
  }
  .store-btn.icon-rt {
    justify-content: center;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 50px;
    padding-left: 3.125rem;
  }
  .store-btn.icon-rt > i {
    margin-left: 30px;
    margin-left: 1.875rem;
  }
}
@media all and (max-width: 720px) {
  .form-item {
    width: 100%;
  }
  input[type="radio"] + span {
    width: 100%;
    height: 72px;
    height: 4.5rem;
  }
  input[type="radio"] + span > span {
    font-size: 23px;
    font-size: 1.4375rem;
    padding-left: 55px;
    padding-left: 3.4375rem;
  }
  input[type="radio"] + span > span:before {
    width: 42px;
    width: 2.625rem;
    height: 42px;
    height: 2.625rem;
  }
  input[type="radio"] + span > span:after {
    left: 22px;
    left: 1.375rem;
    width: 18px;
    width: 1.125rem;
    height: 15px;
    height: 0.9375rem;
    border-width: 0.375rem;
  }
  .btn-wrap .store-btn.lg {
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    height: 68px;
    height: 4.25rem;
    line-height: 66px;
    line-height: 4.125rem;
  }
  .btn-wrap .store-btn.lg strong {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 21px;
    line-height: 1.3125rem;
  }
  .btn-wrap .store-btn.lg > i.ico__share {
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
  }
  .btn-wrap .store-btn.lg > i.ico__reload {
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
  }
  .store-btn.md {
    width: 320px;
    width: 20rem;
    height: 66px;
    height: 4.125rem;
    border-radius: 66px;
    border-radius: 4.125rem;
    line-height: 64px;
    line-height: 4rem;
  }
  .store-btn.md strong {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
  .store-btn.lg {
    width: 360px;
    width: 22.5rem;
    height: 78px;
    height: 4.875rem;
    border-radius: 78px;
    border-radius: 4.875rem;
    line-height: 76px;
    line-height: 4.75rem;
  }
  .store-btn.lg strong {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
  .pop-layer--sm {
    width: 480px;
    width: 30rem;
    height: 270px;
    height: 16.875rem;
  }
  .pop-layer__head {
    height: 80px;
    height: 5rem;
  }
  .pop-layer__head > strong {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
  .pop-layer .pop-close {
    top: 23px;
    top: 1.4375rem;
    font-size: 34px;
    font-size: 2.125rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}
@media all and (max-width: 320px) {
  .pop-layer--sm {
    width: 440px;
    width: 27.5rem;
  }
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
dl,
dt,
dd,
ul,
ol,
li,
strong,
span,
small,
label,
i {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
a,
img {
  border: 0;
}
a {
  text-decoration: none !important;
  font-family: inherit;
}
i,
em {
  font-style: normal;
}
ul li,
ol li {
  list-style: none;
}
figure {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-stretch: normal;
}
::-webkit-scrollbar {
  display: none;
}
button,
input,
optgroup,
select,
textarea {
  display: inline-block;
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1;
  /* 1 */
  margin: 0;
  /* 2 */
}
input[type=tel],
input[type=text],
input[type=button],
input[type=reset],
button[type=reset],
button[type=button],
button[type=submit],
select,
textarea {
  box-sizing: border-box;
  border: none;
  background: transparent;
  appearance: none;
}
button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
select {
  vertical-align: top;
}
select::-ms-expand {
  display: none;
}
fieldset,
a,
img {
  border: 0;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-appearance: button;
  outline: none;
  cursor: pointer;
  line-height: 1;
}
caption,
legend {
  width: 0;
  height: 0;
  opacity: 0;
  text-indent: -9999px;
  line-height: 0;
  overflow: hidden;
}
html,
body {
  font-family: inherit, sans-serif;
  height: 100%;
}
html {
  font-size: 16px;
  font-size: 1rem;
}
.wrap {
  width: 100%;
  min-height: 100%;
  font-family: 'GmarketSans', sans-serif;
}
@media all and (max-width: 720px) {
  html {
    font-size: 10px;
    font-size: 2.77777778vw;
  }
}
@media all and (max-width: 320px) {
  html {
    font-size: 10px;
    font-size: 0.625rem;
    min-width: 510px;
    min-width: 31.875rem;
    overflow-x: hidden;
  }
}
.header-section,
.sidebar-menu-wrapper {
  font-family: 'Roboto', sans-serif;
}
#landing-visual {
  background-color: #ffffff;
}
#landing-visual .banner-section {
  background-color: #33b1d0;
  overflow: hidden;
}
#landing-visual .banner-section .container {
  max-width: 1280px;
  max-width: 80rem;
  margin-bottom: 250px;
  margin-bottom: 15.625rem;
}
#landing-visual .banner-section .container .banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  color: #ffffff;
  z-index: 1;
}
#landing-visual .banner-section .container .banner-content h2 {
  width: 440px;
  width: 27.5rem;
  height: 282px;
  height: 17.625rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
#landing-visual .banner-section .container .banner-content h2 span {
  display: block;
}
#landing-visual .banner-section .container .banner-content p {
  font-size: 24px;
  font-size: 1.5rem;
  text-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.15);
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 0px;
  margin-left: 0rem;
  letter-spacing: 0px;
  letter-spacing: -0.0375rem;
}
#landing-visual .banner-section .container .banner-content p span {
  display: block;
  line-height: 33px;
  line-height: 2.0625rem;
}
#landing-visual .banner-section .container .banner-content p span strong {
  font-size: 33px;
  font-size: 2.0625rem;
  color: #ffe13e;
}
#landing-visual .banner-section .container .banner-content p.sizeup {
  font-size: 27px;
  font-size: 1.6875rem;
  margin-top: 25px;
  margin-top: 1.5625rem;
  margin-bottom: 35px;
  margin-bottom: 2.1875rem;
}
#landing-visual .banner-section .container .banner-image-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  z-index: 0;
}
#landing-visual .banner-section .container .banner-image-wrap .banner-image {
  display: block;
}
#landing-visual .banner-section .container .banner-image-wrap .banner-image .bg-main {
  top: unset !important;
  left: unset !important;
  position: static;
  width: 1920px;
  width: 120rem;
  margin-right: -210px;
  margin-right: -13.125rem;
}
#landing-visual .banner-section .container .banner-image-wrap img {
  width: 1920px;
  width: 120rem;
}
#landing-visual .banner-section > footer {
  position: relative;
  z-index: 2;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  padding-left: 20px;
  padding-left: 1.25rem;
}
#landing-visual .banner-section > footer p {
  text-align: center;
  font-weight: normal;
}
#landing-visual .banner-section > footer p.tit {
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
  color: #333333;
}
#landing-visual .banner-section > footer p.copy {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #000000;
  text-transform: uppercase;
}
#landing-visual .banner-section > footer .icon-share {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}
@media all and (max-width: 1440px) {
  #landing-visual .banner-section .mobile-app-banner-1 {
    overflow: visible;
  }
}
@media all and (max-width: 1280px) {
  #landing-visual .banner-section .container .banner-image-wrap {
    transform: translateX(-45%);
  }
  #landing-visual .banner-section .container .banner-image-wrap img {
    width: 1720px;
    width: 107.5rem;
  }
}
@media all and (max-width: 991px) {
  #landing-visual .banner-section .container {
    margin-bottom: 0;
  }
  #landing-visual .banner-section .container .row {
    margin-left: -25px;
    margin-left: -1.5625rem;
    margin-right: -25px;
    margin-right: -1.5625rem;
  }
  #landing-visual .banner-section .container .row [class*="col-"] {
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
  }
  #landing-visual .banner-section .container .banner-content {
    align-items: center;
  }
  #landing-visual .banner-section .container .banner-content p.sizeup {
    margin-top: 10px;
    margin-top: 0.625rem;
  }
  #landing-visual .banner-section .container .banner-content p.sizeup span {
    display: inline-block;
  }
  #landing-visual .banner-section .container .banner-image-wrap .banner-image {
    display: none;
  }
  #landing-visual .banner-section .container .mobile-banner-image {
    margin-bottom: 0;
  }
  #landing-visual .banner-section .mobile-app-banner-1 {
    padding-bottom: 0;
  }
  #landing-visual .banner-section footer {
    margin-top: auto;
    flex: 1;
    background-color: #ffffff;
  }
  #landing-visual .banner-section footer p.tit {
    font-size: 24px;
    font-size: 1.5rem;
  }
  #landing-visual .banner-section footer p.copy {
    font-size: 18px;
    font-size: 1.125rem;
  }
  #landing-visual .banner-section footer .icon-share {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
  }
}
@media all and (max-width: 720px) {
  #landing-visual .banner-section .container .banner-content h2 {
    width: 350px;
    width: 21.875rem;
    height: 220px;
    height: 13.75rem;
  }
  #landing-visual .banner-section .container .banner-content p {
    font-size: 20px;
    font-size: 1.25rem;
  }
  #landing-visual .banner-section .container .banner-content p.sizeup {
    font-size: 22px;
    font-size: 1.375rem;
  }
  #landing-visual .banner-section .container .banner-content p.sizeup strong {
    font-size: 27px;
    font-size: 1.6875rem;
  }
  #landing-visual .banner-section .mobile-app-banner-1 {
    padding-top: 120px;
    padding-top: 7.5rem;
  }
  #landing-visual .banner-section footer p.tit {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 20px;
    font-size: 1.25rem;
  }
  #landing-visual .banner-section footer p.copy {
    font-size: 14px;
    font-size: 0.875rem;
  }
  #landing-visual .banner-section footer .icon-share {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  #landing-visual .banner-section footer .icon-share .btn {
    width: 55px;
    width: 3.4375rem;
    height: 55px;
    height: 3.4375rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 12px;
    margin-right: 0.75rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 12px;
    margin-left: 0.75rem;
  }
}
#stage-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33b1d0;
}
#stage-visual .visual-wrapper {
  position: relative;
}
#stage-visual .visual-wrapper .ques-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 900px;
  width: 56.25rem;
  padding-top: 200px;
  padding-top: 12.5rem;
  max-width: 1280px;
  max-width: 80rem;
  overflow: hidden;
}
#stage-visual .visual-wrapper .ques-list header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #ffffff;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 30px;
  padding-left: 1.875rem;
  text-align: center;
}
#stage-visual .visual-wrapper .ques-list header strong {
  font-family: 'Jalnan', sans-serif;
  font-size: 64px;
  font-size: 4rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
  line-height: 34px;
  line-height: 2.125rem;
  font-weight: normal;
  text-transform: uppercase;
}
#stage-visual .visual-wrapper .ques-list header p {
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0px;
  letter-spacing: -0.0375rem;
  line-height: 32px;
  line-height: 2rem;
}
#stage-visual .visual-wrapper .ques-list .cont {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0.375rem 0.65rem 1.4375rem 0 rgba(0, 145, 171, 0.18);
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
#stage-visual .visual-wrapper .ques-list .cont__head {
  position: relative;
  display: table;
  width: 100%;
  height: 147px;
  height: 9.1875rem;
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-right: 40px;
  padding-right: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  padding-left: 40px;
  padding-left: 2.5rem;
  text-align: center;
  background-color: #ffbc00;
  border-top-left-radius: 30px;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 30px;
  border-top-right-radius: 1.875rem;
}
#stage-visual .visual-wrapper .ques-list .cont__head:before {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  width: 12.5rem;
  height: 246px;
  height: 15.375rem;
  right: 0px;
  right: 0rem;
  top: -83px;
  top: -5.1875rem;
  background: url('../images/img-stage@2x.png') 0 0 no-repeat;
  background-size: contain;
  z-index: 2;
}
#stage-visual .visual-wrapper .ques-list .cont__head > p {
  position: relative;
  display: table-cell;
  font-size: 38px;
  font-size: 2.375rem;
  line-height: 38px;
  line-height: 2.375rem;
  letter-spacing: 0px;
  letter-spacing: -0.059375rem;
  vertical-align: middle;
  color: #333333;
  z-index: 3;
}
#stage-visual .visual-wrapper .ques-list .cont__head > p > span {
  display: block;
  font-size: 28px;
  font-size: 1.75rem;
}
#stage-visual .visual-wrapper .ques-list .cont__head > p + p {
  margin-top: 10px;
  margin-top: 0.625rem;
}
#stage-visual .visual-wrapper .ques-list .cont__head.lines {
  padding-top: 30px;
  padding-top: 1.875rem;
}
#stage-visual .visual-wrapper .ques-list .cont__head.lines > p {
  display: block;
}
#stage-visual .visual-wrapper .ques-list .cont__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  padding-top: 3.4375rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  padding-bottom: 55px;
  padding-bottom: 3.4375rem;
  padding-left: 30px;
  padding-left: 1.875rem;
  border-bottom-right-radius: 30px;
  border-bottom-right-radius: 1.875rem;
  border-bottom-left-radius: 30px;
  border-bottom-left-radius: 1.875rem;
  background-color: #ffffff;
  overflow: hidden;
}
#stage-visual .visual-wrapper .ques-list .cont__body .form-item {
  position: relative;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
#stage-visual .visual-wrapper .ques-list .cont__body .form-item + .form-item {
  margin-top: 20px;
  margin-top: 1.25rem;
}
#stage-visual .visual-wrapper .ques-list footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 80px;
  padding-bottom: 5rem;
}
#stage-visual .visual-wrapper .ques-list footer p.info {
  margin-bottom: 70px;
  margin-bottom: 4.375rem;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  color: #ffffff;
  text-align: center;
}
@media all and (max-width: 991px) {
  #stage-visual .visual-wrapper .ques-list {
    height: 100%;
    width: 100%;
  }
  #stage-visual .visual-wrapper .ques-list .cont {
    padding-left: 30px;
    padding-left: 1.875rem;
    padding-right: 30px;
    padding-right: 1.875rem;
  }
}
@media all and (max-width: 720px) {
  #stage-visual .visual-wrapper .ques-list header {
    margin-left: 25px;
    margin-left: 1.5625rem;
    margin-right: 25px;
    margin-right: 1.5625rem;
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
  }
  #stage-visual .visual-wrapper .ques-list header strong {
    font-size: 50px;
    font-size: 3.125rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  #stage-visual .visual-wrapper .ques-list header p {
    font-size: 19px;
    font-size: 1.1875rem;
    letter-spacing: 0px;
    letter-spacing: -0.05625rem;
  }
  #stage-visual .visual-wrapper .ques-list .cont {
    width: 100%;
    margin-left: 25px;
    margin-left: 1.5625rem;
    margin-right: 25px;
    margin-right: 1.5625rem;
    margin-bottom: 35px;
    margin-bottom: 2.1875rem;
  }
  #stage-visual .visual-wrapper .ques-list .cont__head {
    height: 120px;
    height: 7.5rem;
    padding-top: 20px;
    padding-top: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
    padding-bottom: 20px;
    padding-bottom: 1.25rem;
    padding-left: 20px;
    padding-left: 1.25rem;
  }
  #stage-visual .visual-wrapper .ques-list .cont__head:before {
    width: 161px;
    width: 10.0625rem;
    top: -65px;
    top: -4.0625rem;
    right: 0px;
    right: 0rem;
  }
  #stage-visual .visual-wrapper .ques-list .cont__head > p {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 40px;
    line-height: 2.5rem;
  }
  #stage-visual .visual-wrapper .ques-list .cont__head > p > span {
    font-size: 24px;
    font-size: 1.5rem;
  }
  #stage-visual .visual-wrapper .ques-list .cont__head > p + p {
    margin-top: 0px;
    margin-top: 0rem;
  }
  #stage-visual .visual-wrapper .ques-list .cont__body {
    padding-top: 40px;
    padding-top: 2.5rem;
    padding-right: 45px;
    padding-right: 2.8125rem;
    padding-bottom: 40px;
    padding-bottom: 2.5rem;
    padding-left: 45px;
    padding-left: 2.8125rem;
  }
  #stage-visual .visual-wrapper .ques-list .cont__body .form-item + .form-item {
    margin-top: 15px;
    margin-top: 0.9375rem;
  }
  #stage-visual .visual-wrapper .ques-list footer p.info {
    font-size: 23px;
    font-size: 1.4375rem;
    margin-bottom: 50px;
    margin-bottom: 3.125rem;
  }
}
#result-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33b1d0;
}
#result-visual .visual-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-top: 12.5rem;
  max-width: 1280px;
  max-width: 80rem;
  overflow: hidden;
}
#result-visual .visual-wrapper .cont {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 900px;
  width: 56.25rem;
  margin-top: 150px;
  margin-top: 9.375rem;
  margin-bottom: 80px;
  margin-bottom: 5rem;
  box-sizing: border-box;
}
#result-visual .visual-wrapper .cont:before {
  content: '';
  display: block;
  position: absolute;
  width: 349px;
  width: 21.8125rem;
  height: 261px;
  height: 16.3125rem;
  top: -150px;
  top: -9.375rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
#result-visual .visual-wrapper .cont--level01:before {
  background: url('../images/img-result-01@2x.png') 0 0 no-repeat;
  background-size: contain;
}
#result-visual .visual-wrapper .cont--level02:before {
  background: url('../images/img-result-02@2x.png') 0 0 no-repeat;
  background-size: contain;
}
#result-visual .visual-wrapper .cont--level03:before {
  background: url('../images/img-result-03@2x.png') 0 0 no-repeat;
  background-size: contain;
}
#result-visual .visual-wrapper .cont__wrap {
  padding-top: 140px;
  padding-top: 8.75rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  padding-bottom: 80px;
  padding-bottom: 5rem;
  padding-left: 30px;
  padding-left: 1.875rem;
  border-top-left-radius: 30px;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 30px;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 30px;
  border-bottom-right-radius: 1.875rem;
  border-bottom-left-radius: 30px;
  border-bottom-left-radius: 1.875rem;
  box-shadow: 0.375rem 0.65rem 1.4375rem 0 rgba(0, 145, 171, 0.18);
  background-color: #ffffff;
}
#result-visual .visual-wrapper .cont__head {
  text-align: center;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
#result-visual .visual-wrapper .cont__head > strong {
  display: block;
}
#result-visual .visual-wrapper .cont__head > strong.tit {
  font-size: 46px;
  font-size: 2.875rem;
  font-family: 'Jalnan', sans-serif;
  font-weight: normal;
  color: #333333;
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
}
#result-visual .visual-wrapper .cont__head > strong.num {
  color: #ffbc00;
}
#result-visual .visual-wrapper .cont__head > strong.num > span {
  font-size: 46px;
  font-size: 2.875rem;
}
#result-visual .visual-wrapper .cont__head > strong.num .score {
  font-size: 80px;
  font-size: 5rem;
}
#result-visual .visual-wrapper .cont__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#result-visual .visual-wrapper .cont__body > p {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  text-align: center;
}
#result-visual .visual-wrapper .cont__body > p > span {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 34px;
  line-height: 2.125rem;
  letter-spacing: 0px;
  letter-spacing: -0.0375rem;
  color: #4d4d4d;
}
#result-visual .visual-wrapper .cont__body > p .line-br {
  display: block;
}
#result-visual .visual-wrapper .cont__body > p.pc-view {
  display: block;
}
#result-visual .visual-wrapper .cont__body > p.m-view {
  display: none;
}
#result-visual .visual-wrapper footer {
  width: 900px;
  width: 56.25rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  padding-bottom: 80px;
  padding-bottom: 5rem;
  padding-left: 30px;
  padding-left: 1.875rem;
}
@media all and (max-width: 991px) {
  #result-visual .visual-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #result-visual .visual-wrapper .cont {
    width: 100%;
    padding-left: 25px;
    padding-left: 1.5625rem;
    padding-right: 25px;
    padding-right: 1.5625rem;
  }
  #result-visual .visual-wrapper .cont__body > p.pc-view {
    display: none;
  }
  #result-visual .visual-wrapper .cont__body > p.m-view {
    display: block;
  }
  #result-visual .visual-wrapper footer {
    width: 100%;
  }
}
@media all and (max-width: 720px) {
  #result-visual .visual-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #result-visual .visual-wrapper .cont {
    width: 100%;
    margin-left: 25px;
    margin-left: 1.5625rem;
    margin-right: 25px;
    margin-right: 1.5625rem;
    margin-bottom: 35px;
    margin-bottom: 2.1875rem;
  }
  #result-visual .visual-wrapper .cont:before {
    width: 280px;
    width: 17.5rem;
    top: -120px;
    top: -7.5rem;
  }
  #result-visual .visual-wrapper .cont__wrap {
    padding-top: 115px;
    padding-top: 7.1875rem;
    padding-bottom: 60px;
    padding-bottom: 3.75rem;
  }
  #result-visual .visual-wrapper .cont__head > strong.tit {
    font-size: 38px;
    font-size: 2.375rem;
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
  }
  #result-visual .visual-wrapper .cont__head > strong.num {
    font-size: 64px;
    font-size: 4rem;
  }
  #result-visual .visual-wrapper .cont__head > strong.num > span {
    font-size: 36px;
    font-size: 2.25rem;
  }
  #result-visual .visual-wrapper .cont__body > p > span {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}
@media all and (max-width: 320px) {
  #result-visual .visual-wrapper .cont__wrap {
    padding-left: 15px;
    padding-left: 0.9375rem;
    padding-right: 15px;
    padding-right: 0.9375rem;
  }
  #result-visual .visual-wrapper .cont__body > p > span {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 30px;
    line-height: 1.875rem;
    word-break: keep-all;
  }
}
.pop-layer__body .icon-share {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media all and (max-width: 720px) {
  .pop-layer__body .icon-share {
    margin-bottom: 25px;
    margin-bottom: 1.5625rem;
  }
  .pop-layer__body .icon-share .btn {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 12px;
    margin-right: 0.75rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 12px;
    margin-left: 0.75rem;
    width: 56px;
    width: 3.5rem;
    height: 56px;
    height: 3.5rem;
  }
}
