@font: "../fonts";

@font-face {
    font-family: 'Jalnan';
    src: local('Jalnan'),
    local('Jalnan'),
    url('@{font}/Jalnan.woff') format('woff'),
    url('@{font}/Jalnan.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: local('GmarketSans'),
    local('GmarketSans'),
    url('@{font}/GmarketSansLight.woff') format('woff'),
    url('@{font}/GmarketSansLight.otf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'GmarketSans';
    src: local('GmarketSans'),
    local('GmarketSans'),
    url('@{font}/GmarketSansMedium.woff') format('woff'),
    url('@{font}/GmarketSansMedium.otf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'GmarketSans';
    src: local('GmarketSans'),
    local('GmarketSans'),
    url('@{font}/GmarketSansBold.woff') format('woff'),
    url('@{font}/GmarketSansBold.otf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
